<div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <img class="profile-img" src="assets\images\password.jpg" alt="Maven" width="150" height="60" style="margin-top: 5px;" />

        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
      <div class="modal-body">
        <div class="container mt-5">
          <div class="row justify-content-center">
            <div class="col-md-6">
              <div class="card">
                <div class="card-header text-center">
                  <h4>Veuillez entrer votre e-mail pour rechercher votre compte.</h4>
                </div>
                <div class="card-body">
                  <form (ngSubmit)="passwordrequest()">
                    <div class="form-group">
                      <label for="email">Email :</label>
                      <input type="email" [(ngModel)]="email" name="email" class="form-control" required>
                    </div>
                    <div class="text-center mt-4">
                      <button type="submit" class="btn btn-primary">Envoyer</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">

       <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
         Complete Reset Steps 
      </button>
      </div>

    </div>
  </div>
</div>

<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header d-flex align-items-center">
        <div>        <img class="profile-img" src="assets/images/gmail.jpg" alt="Maven" width="100" height="60" style="margin-left: 10px;" />
        <h1 class="modal-title fs-5 me-auto" id="exampleModalLabel">Verify Your Email</h1>
      </div>
      <div class="modal-body d-flex justify-content-center align-items-center" style="text-align: center; height: 200px;">
        <h4>Pour récupérer votre mot de passe, vérifiez votre boîte mail. Si votre adresse existe dans notre base de données, un lien sera envoyé.</h4>
      </div>
        </div>

      
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<a id="forgotPasswordLink"  data-bs-target="#exampleModalToggle" data-bs-toggle="modal"  style="color: #007bff; font-weight: bold;" >
  <i class="bi bi-envelope"></i> Forgot Password?
</a>
