<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content />
        <meta name="author" content />
        <title>Modern Business - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="C:\pfefront\pfeFront\src\assets\images\favicon.ico" />
        <!-- Custom Google font-->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="C:\pfefront\pfeFront\src\assets\css\styles.css" rel="stylesheet" />
    </head>
    <body class="d-flex flex-column">
        <main class="flex-shrink-0">
            <!-- Navigation-->
           
            
              
            <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
              <div class="container-fluid">
                <a class="navbar-brand" href="#">OpsAutomate</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/contact">conatct</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/tests">tests</a>
                    </li>
                    
                  </ul>
                  <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      Our Services
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" href="#">build</a></li>
                      <li><a class="dropdown-item"  data-bs-container="body" data-bs-toggle="popover" data-bs-placement="right" data-bs-content="test de qualite ">
                       test </a></li>
                      <li><a class="dropdown-item" href="#">deploy</a></li>
                    </ul>
                    
                  </div>
                  <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                  </form>
                </div>
              </div>
            </nav>    
 


            <div class="attribute-frame slide-in">
                <div class="attribute-frame__title">
                  Code Repo  
                  <img class="profile-img" src="assets\images\github.jpg" alt="..." width="100" height="40" style="margin-top: 10px;" />
                  <a>/</a>
                  <img class="profile-img" src="assets\images\gitlab.png" alt="..." width="100" height="40" style="margin-top: 5px;" />
                </div>
                <div class="attribute-frame__content">
                  <!-- Bouton pour ouvrir le label -->
                  <button (click)="toggleLabel()" >Ajouter ici</button>
                  
                  <!-- Label pour entrer du texte -->
                  <div *ngIf="showLabel">
                    <label for="comment">Commentaire :</label>
                    <input type="text" id="comment" [(ngModel)]="comment" />
                    <button (click)="saveComment()">Enregistrer</button>
                  </div>
                  <div *ngIf="commentValue">
                    <p><strong>votre url:</strong> {{ commentValue }}</p>
                  </div>
                  <!-- Ajoutez d'autres attributs ici -->
                </div>
              </div>
              
              <div class="attribute-frame slide-in">
                <div class="attribute-frame__title">
                  Code Analysis       
                  <img class="profile-img" src="assets\images\maven.png" alt="Maven" width="100" height="40" style="margin-top: 5px;" />
                  <a>/</a>
                  <img class="profile-img" src="assets\images\gradle.png" alt="Gradle" width="100" height="40" style="margin-top: 5px;" />
                </div>
                <div class="attribute-frame__content">
                  
                  <!-- Boutons radio pour le choix du projet -->
                  <div>
                    <input type="radio" id="maven" name="buildTool" [(ngModel)]="selectedBuildTool" value="maven" />
                    <label for="maven">Maven</label>
                    
                    <input type="radio" id="gradle" name="buildTool" [(ngModel)]="selectedBuildTool" value="gradle" />
                    <label for="gradle">Gradle</label>
                  </div>
                  
                  <p><strong>Projet sélectionné :</strong> {{ selectedBuildTool }}</p>
                  
                  <!-- Ajoutez d'autres attributs ici -->
                </div>
              </div>
              
              
              <div class="attribute-frame slide-in">
                <div class="attribute-frame__title">
            Code Quality      
            <img class="profile-img" src="assets\images\sonar.png" alt="..." width="150" height="60" style="margin-top: 5px;" />
            
                </div>
                <div class="attribute-frame__content">
                  
                    <div class="checkbox-container">
                        <label class="checkbox-label">
                          <input type="checkbox" [(ngModel)]="isCheckedYes" name="yesCheckbox" />
                          <span class="checkbox-custom"></span>
                          Yes
                        </label>
                        
                        <label class="checkbox-label">
                          <input type="checkbox" [(ngModel)]="isCheckedNo" name="noCheckbox" />
                          <span class="checkbox-custom"></span>
                          No
                        </label>
                      </div>
                  
                  
                  <!-- Ajoutez d'autres attributs ici -->
                </div>
                <button (click)="analysecode()">
                  analyse</button>

              </div>
              
                 <!-- Votre-fichier.component.html -->

                  
                 

                 
                  
                
                

                 <div>
                  <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                      <li class="page-item ">
                        <a class="page-link" href="/home" >Previous</a>
                      </li>
                      <li class="page-item active" aria-current="page"><a class="page-link" href="/pipeline">1</a></li>
                      <li class="page-item"><a class="page-link" href="/page2">2</a></li>
                      <li class="page-item"><a class="page-link" href="/page3">3</a></li>
                      <li class="page-item">
                        <a class="page-link"  (click)="triggerPipeline()">Next</a>
                      </li>
                    </ul>
                  </nav>
                 </div>
                 <div class="progress">
                  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 25%"></div>
                </div>

              

        </main>
        <!-- Footer-->
        <footer class="bg-white py-4 mt-auto">
            <div class="container px-5">
                <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                    <div class="col-auto"><div class="small m-0">    &copy; Your Website 2023</div></div>
                    <div class="col-auto">
                        <a class="small" href="#!">Privacy</a>
                        <span class="mx-1">&middot;</span>
                        <a class="small" href="#!">Terms</a>
                        <span class="mx-1">&middot;</span>
                        <a class="small" href="#!">Contact</a>
                    </div>
                </div>

            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="C:\pfefront\pfeFront\src\assets\js\scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
    
    
</html>
