<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header text-center">
          <h2>Nouveau mot de passe</h2>
        </div>
        <div class="card-body">
          <form (ngSubmit)="passwordreset()">
            <div class="form-group">
              <label for="password">Nouveau mot de passe :</label>
              <input type="password" [(ngModel)]="newPassword" name="newPassword" class="form-control" required>
            </div>
            <div class="text-center mt-4">
              <button type="submit" class="btn btn-primary">Réinitialiser</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
